*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: black;
  color: azure;
  min-height: 100vh;
}
button{
  cursor: pointer;
}
h1{
 font-size: xx-large;
 text-align: center;
 font-family: 'Times New Roman', Times, serif;
}